[project]
	description = Simple capture library for JSP.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Takumi IINO (troter)
[access "refs/for/refs/*"]
	read = group user/Takumi IINO (troter)
	push = group user/Takumi IINO (troter)
	label-Code-Review = -2..+2 group user/Takumi IINO (troter)
	label-Verified = -1..+1 group user/Takumi IINO (troter)
	rebase = group user/Takumi IINO (troter)
	removeReviewer = group user/Takumi IINO (troter)
	submit = group user/Takumi IINO (troter)
[access "refs/heads/*"]
	read = group user/Takumi IINO (troter)
	create = group user/Takumi IINO (troter)
	push = +force group user/Takumi IINO (troter)
	pushMerge = group user/Takumi IINO (troter)
[access "refs/tags/*"]
	push = +force group user/Takumi IINO (troter)
	pushTag = group user/Takumi IINO (troter)
	pushSignedTag = group user/Takumi IINO (troter)
